.father{
position: relative;
}

.top{
height: 80px;
background: #2E8B57; border-bottom: 2px solid #7B5427;
color:#FFFAFA;
}
.left{
    float:left ;
    background-color:#D3D3D3;
    width:13%;
    height: 740px;

}
.right{
    float:right;
    width:87%;
    height: 740px;
    background-color:#FFFFFF ;

}
.container {
      background-color:#D3D3D3;
}
.right1{
float:left;
background-color:#FFFFFF ;
width:100%;
color:black;
}
.right111{
float:left;
background-color: #C0C0C0;
width:49.7%;
height:80px;
border: 1px solid black;
}
.pops{
float:left;
background-color: #C0C0C0;
width:33%;
height:80px;
color:black;
border: 1px solid black;
}